// banner-container

.banner-container {
    margin-top: 50px;

    .left-side {
        .flag {
            img {
                position: relative;
                left: 160px;
                top: -10px;
            }
        }
    }
}