// fifth-container//

.fifth-container{
    margin-top: 55px;
.total-container{
    p{
        width: 136%;
        font-size: small;
        font-weight: lighter;
        color: #ADB5BD;

    }
}

.total-amount{
    h1{
        text-align: end;
    }
}

.booking{
    button{
        width: 100%;
        height: 57px;
        color: white;
        background-color: #E85D04;
        border: transparent;
        font-weight: bolder;
        
    }
    
}


}