// fourth-container//

.fourth-container{

    .billing-card{
        .billingCard{
          width: 100%; 
          text-align: start; 
        }  
      }

.billing-month{

    .billingMonth{
        width: 90%; 
        text-align: start;  
    }
}

.billing-year{
    .billingYear{
        width: 90%; 
        text-align: start; 
    }
}
.information-credit{
   .informationCredit{
    width: 100%; 
    text-align: start; 
   } 
}
.image-cards{
    text-align: end;
    
}


}