.password-container {
  text-align: center;
  background-image: linear-gradient(-225deg, #20e2d7, #f9fea5);
  width: 359px !important;
  height: 439px;
  border-radius: 10px;
  margin-top: 203px;
  padding: 30px !important;


}

.generate {
  width: 293px;
  margin-top: 80px !important;

}

h5 {
  color: #006400;
  font-weight: bolder !important;
  margin-top: 20px !important;
  font-family: monospace;
}

h6 {
  background-color: #308d46;
  padding: 13px 10px;
  color:white;
  font-weight: bolder !important;
  margin-bottom: 15px !important;
  height: 46px;
  border: 1px;
  border-radius: 4px;
  margin-top: -36px !important;
  font-family: monospace;
}

.btn {
  border-radius: 30px !important;
  background-color: #308d46 !important;
  color: white !important;
  font-weight: bolder;
  margin-top: -16px !important;
  width: 100%;
  padding: 10px !important;
  font-size: 17px !important;
  border: none !important;
  margin-top: 4px !important;

}
.form-group{
  display: flex;
    justify-content: space-between;
    font-family: monospace;
    margin-bottom: 15px;

}